@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We Are Going to learn How to Use gitHub. <b>Interviwer</b> think We are <b>Experience</b> 
    But Actully We dont Have Any Experience .</p>
