@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Katraj<br />
    Dhankawadi,BalajiNager<br />
    <abbr title="Phone">P:</abbr>
    4441110
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">ProjectHelp@support.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@Help.com</a>
</address>